.header {
    width: calc(100% - 20px);
    align-self: center;

    padding-top: 5px;
    height: calc(0% + 45px);
    display: flex;
    .main-heading {

      gap: 10px;
      display: flex;
      flex-direction: row;
      align-items: center;
      direction: rtl;
      height: 100%;
      width: 100%;
      img {
        margin-right: 1rem;
      }
    
      div {
        font-size: 1.5rem;
        font-weight: 300;
        color: var(--erwt-heading-color);
        line-height: 1;
      }
    
      .tags{
        display: flex;
        flex-direction: row;
        direction: rtl;
        padding-right: 10px;
        gap: 10px;
      }

      .tag-pill{
        font-size: 16px;
        padding: 3px 12px 3px 12px;
        display: block;
        background-color: var(--pill-bgcolor);
        border-radius: 15px;
        transition: 0.1s;

        &:hover{
          cursor: pointer;
          background-color: var(--button-hover-bgcolor);
        }
        &:active{
          cursor: pointer;
          background-color: var(--button-active-bgcolor);
        }

        &.new{
          background-color: var(--pill-bgcolor);
          &:hover{
            cursor: pointer;
            background-color: var(--button-hover-bgcolor);
          }
          &:active{
            cursor: pointer;
            background-color: var(--button-active-bgcolor);
          }
        }
      }

      .filepath{
        max-width: 80%;
        font-size: 23px;
        display: flex;
        flex-direction: row;
        direction: rtl;
        gap: 6px;
        padding-bottom: 3px;

        .filepath-name{
          font-weight: 600;
          &:focus{
            outline: none;
          }
        }
      }
      
      #logo{
        fill: #d1d1d1;
        display: block;
        width: 45px;
        height: 55%;
      }

      .logo{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 45px;
        height: 100%;
      }
    }
  }